---
// ProfileSection component for displaying user profile information
import ToggleTheme from '~/components/common/ToggleTheme.astro';
import SocialLinks from './SocialLinks.astro';
import LinksList from './LinksList.astro';

interface Props {
  name: string;
  title: string;
  avatar: string;
  socialLinks: Array<{
    platform: string;
    url: string;
    icon: string;
  }>;
  profileLinks: Array<{
    title: string;
    url: string;
    icon?: string;
    modal?: string;
  }>;
}

const { name, title, avatar, socialLinks, profileLinks } = Astro.props;
---

<div class="flex flex-col items-center text-center px-4 pb-12 pt-6 relative neo-container mb-6">
  <!-- Dark/Light Mode Toggle -->
  <div class="absolute top-2 right-2">
    <ToggleTheme 
      iconClass="w-6 h-6 text-vhs-red dark:text-vhs-yellow" 
      class="hover:bg-vhs-offwhite dark:hover:bg-slate-700 focus:ring-vhs-orange dark:focus:ring-vhs-magenta"
    />
  </div>

  <!-- Profile Avatar -->
  <div class="w-48 h-48 mb-6 overflow-hidden rounded-full neo-border border-vhs-red dark:border-vhs-yellow">
    <img 
      src={avatar} 
      alt={`${name}'s profile picture`} 
      class="w-full h-full object-cover"
    />
  </div>
  
  <!-- Profile Info -->
  <h1 class="text-lg font-press-start mb-4 text-vhs-darkgray dark:text-white leading-relaxed">{name}</h1>
  <h2 class="text-sm font-press-start text-vhs-red dark:text-vhs-yellow mb-4 tracking-tight max-w-sm mx-auto" style="text-wrap: balance;" >{title}</h2>
  <!-- <p class="text-sm text-default dark:text-muted max-w-md mb-4">{description}</p> -->
  <SocialLinks links={socialLinks} />
  
  <!-- Profile Links -->
  <div class="w-full mt-8 p-2 max-w-md">
    <LinksList links={profileLinks} />
  </div>
</div> 